@page "/"

<PageTitle>Index</PageTitle>

<div class="container">

	@* Banner Utama Awal *@
	<div class="banner">
		<div class="hero">
			<h2 class="heading">
				Sami FR's EE Shop
			</h2>
			<p class="sub-heading">
				Electronics & Robotics
			</p>
		</div>
		<div class="features feature-1">IDR 750K</div>
		<div class="features feature-2">IDR 250K</div>
	</div>

	@* Services *@
    <section class="services" id="services">
        <div class="service">
            <div class="icon">💻</div>
            <h3>Tutorials</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab laudantium voluptatem labore distinctio dolores aperiam!</p>
        </div>
        <div class="service">
            <div class="icon">🎓</div>
            <h3>Online Course</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab laudantium voluptatem labore distinctio dolores aperiam!</p>
        </div>
        <div class="service">
            <div class="icon">🎙</div>
            <h3>Inquiries</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab laudantium voluptatem labore distinctio dolores aperiam!</p>
        </div>
        <div class="service">
            <div class="icon">👕</div>
            <h3>Merch</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab laudantium voluptatem labore distinctio dolores aperiam!</p>
        </div>
    </section>

    @* Gallery *@
    <section class="gallery" id="gallery">
        <h2>Gallery</h2>
        <img src="https://picsum.photos/200/300" alt="" />
        <img src="https://picsum.photos/200/301" alt="" />
        <img src="https://picsum.photos/201/300" alt="" />
        <img src="https://picsum.photos/200/302" alt="" />
        <img src="https://picsum.photos/202/300" alt="" />
        <img src="https://picsum.photos/203/300" alt="" />
        <img src="https://picsum.photos/200/303" alt="" />
        <img src="https://picsum.photos/204/300" alt="" />
        <img src="https://picsum.photos/200/304" alt="" />
        <img src="https://picsum.photos/205/300" alt="" />
    </section>
</div>